# Maven
target/
biforst-sample/target/
bifrost-spring-boot-starter/target/
*.jar
*.war
*.zip
*.tar.gz
*.rar

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Eclipse
.project
.classpath
.settings/
.factorypath

# NetBeans
nbproject/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Log Files
*.log
logs/

# Temporary Files
*.swp
*.bak
*~
